{% extends "base_template.html.twig" %}

{% block css %}  
    <link rel="stylesheet" href="css/dashboard.css">
{% endblock %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="position-sticky">

                    {# SIDEBAR #}
                    <ul class="nav flex-column">
                        {% if session.role == "guide" %}
                            <li class="nav-item">
                                <a class="nav-link rounded" href="index.php?controleur=reservation&methode=afficherPlanning&id={{ session.user_id }}">
                                    <i data-feather="calendar"></i>
                                    Planning
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="index.php?controleur=excursion&methode=listerByGuide&id={{ session.user_id }}">
                                    <i data-feather="map-pin"></i>
                                    Excursions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="index.php?controleur=visite&methode=lister">
                                    <i data-feather="eye"></i>
                                    Visites
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="index.php?controleur=guide&methode=afficherInformation&id={{ session.user_id }}">
                                    <i data-feather="user"></i>
                                    Mes Informations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="#" data-bs-toggle="modal" data-bs-target="#fenetreModale">
                                    <i data-feather="trash-2"></i>
                                    Supprimer Compte
                                </a>
                            </li>
                        {% elseif session.role == "voyageur" %}
                            <li class="nav-item">
                                <a class="nav-link rounded" href="index.php?controleur=reservation&methode=afficherPlanning&id={{ session.user_id }}">
                                    <i data-feather="calendar"></i>
                                    Planning
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="index.php?controleur=carnetVoyage&methode=listerParVoyageur&id={{ session.user_id }}">
                                    <i data-feather="book-open"></i>
                                    Carnets de Voyages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="#">
                                    <i data-feather="image"></i>
                                    Posts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="index.php?controleur=voyageur&methode=afficher&id={{ session.user_id }}">
                                    <i data-feather="user"></i>
                                    Mes Informations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded" href="#" data-bs-toggle="modal" data-bs-target="#fenetreModale">
                                    <i data-feather="trash-2"></i>
                                    Supprimer Compte
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    {# DROPDOWN #}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i data-feather="menu"></i> Menu
                        </button>
                        <ul class="dropdown-menu mb-1 position-relative" aria-labelledby="dropdownMenuButton"  id="dropdowncool">
                            {% if session.role == "guide" %}
                                <li><a class="dropdown-item" href="index.php?controleur=guide&methode=afficherPlanning"><i data-feather="calendar"></i> Planning</a></li>
                                <li><a class="dropdown-item" href="index.php?controleur=excursion&methode=listerByGuide&id={{ session.user_id }}"><i data-feather="map-pin"></i> Excursions</a></li>
                                <li><a class="dropdown-item" href="index.php?controleur=visite&methode=lister"><i data-feather="eye"></i> Visites</a></li>
                                <li><a class="dropdown-item" href="index.php?controleur=guide&methode=afficherInformation&id={{ session.user_id }}"><i data-feather="user"></i> Mes Informations</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#fenetreModale"><i data-feather="trash-2"></i> Supprimer Compte</a></li>
                            {% elseif session.role == "voyageur" %}
                                <li><a class="dropdown-item" href="index.php?controleur=reservation&methode=afficherPlanning&id={{ session.user_id }}"><i data-feather="calendar"></i> Planning</a></li>
                                <li><a class="dropdown-item" href="index.php?controleur=carnetVoyage&methode=listerParVoyageur&id={{ session.user_id }}"><i data-feather="book-open"></i> Carnets de Voyages</a></li>
                                <li><a class="dropdown-item" href="#"><i data-feather="image"></i> Posts</a></li>
                                <li><a class="dropdown-item" href="index.php?controleur=voyageur&methode=afficher&id={{ session.user_id }}"><i data-feather="user"></i> Mes Informations</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#fenetreModale"><i data-feather="trash-2"></i> Supprimer Compte</a></li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content" id="main-dashboard">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                {% block dashboard_content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <!-- Modale de confirmation de suppression -->
    <div class="modal fade" id="fenetreModale" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmer la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible et supprimera toutes vos excursions et commentaires.</p>
                </div>
                <div class="modal-footer">
                    <!-- Formulaire pour confirmer la suppression -->
                    {% if session.role == "guide" %}
                    <form method="POST" action="?controleur=guide&methode=supprimerGuide&id={{ session.user_id }}">
                    {% elseif session.role == "voyageur" %}
                    <form method="POST" action="?controleur=guide&methode=supprimerVoyageur&id={{ session.user_id }}">
                    {% endif %}
                        <input type="hidden" name="action" value="supprimer">
                        <button type="submit" class="btn btn-secondary">Confirmer</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        feather.replace();
    </script>
{% endblock %}