{% extends "base_template.html.twig" %}

{% block css %}  
    <link rel="stylesheet" href="css/dashboard.css">
{% endblock %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start pr-3 pt-2 text-white min-vh-100">

               <ul class="navbar-nav nav-pills flex-column mb-sm-auto mb-0 mt-5 align-items-center align-items-sm-start" id="menu">

                    {% if session.role == "guide" %}

                    <li class="nav-item">
                        <a class="text-white btn btn-primary rounded-pill btnNavbar d-flex align-items-center" href="index.php?controleur=guide&methode=afficherPlanning">
                            <img src="images/icons/planning.svg" class="me-2"></img>
                            <span>Planning</span>
                        </a>
                    </li>
                    <li class="nav-item pt-1">
                        <a class="text-white btn btn-primary rounded-pill btnNavbar d-flex align-items-center" href="index.php?controleur=excursion&methode=listerByGuide&id={{ session.user_id }}">
                            <img src="images/icons/excursion.svg" class="me-2" title="Excursions"></img>
                            <span>Excursions</span>
                        </a>
                    </li>
                    <li class="nav-item pt-1">
                        <a class="text-white btn btn-primary rounded-pill btnNavbar d-flex align-items-center" href="index.php?controleur=visite&methode=lister">
                            <img src="images/icons/visite.svg" class="me-2" title="Visites"></img>
                            <span>Visites</span>
                        </a>
                    </li>
                    <li class="nav-item pt-1">
                        <a class="text-white btn btn-primary rounded-pill btnNavbar d-flex align-items-center" href="index.php?controleur=guide&methode=afficherInformation&id={{ session.user_id }}">
                            <img src="images/icons/infos.svg" class="me-2" title="Mes Informations"></img>
                            <span>Mes Informations</span>
                        </a>
                    </li>
                    <li class="nav-item pt-3">
                        <span class="text-white btn btn-danger rounded-pill btnNavbar d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#fenetreModale">
                            <span>Supprimer</span>
                        </span>
                    </li>

                    {% elseif session.role == "voyageur" %}

                    <li class="nav-item">
                        <main class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
                            <ul class="nav nav-pills flex-column mb-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active" aria-current="page">
                                        <img src="images/icons/planning.svg" class="me-2" title="Mon Planning"></img>
                                        Planning                        
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-white">
                                        <img src="images/icons/excursion.svg" class="me-2" title="Excursions"></img>
                                        Carnet de voyages
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-white">
                                        <img src="images/icons/visite.svg" class="me-2" title="Visites"></img>
                                        Posts
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-white">
                                        <img src="images/icons/infos.svg" class="me-2" title="Mes Informations"></img>
                                        Mes Informations
                                    </a>
                                </li>
                            </ul>
                        </main>
                    </li>
                    <li class="nav-item pt-3">
                        <span class="text-white btn btn-danger rounded-pill btnNavbar d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#fenetreModale">
                            <span>Supprimer</span>
                        </span>
                    </li>

                    {% endif %}

                </ul>
            </div>
        </div>

        {# Contenu du dashboard #}
        <div class="col py-3">
        {% block dashboard_content %}
        {% endblock %}
        </div>
    </div>
</div>
    <!-- Modale de confirmation de suppression -->
    <div class="modal fade" id="fenetreModale" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmer la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible et supprimera toutes vos excursions et commentaires.</p>
                </div>
                <div class="modal-footer">
                    <!-- Formulaire pour confirmer la suppression -->
                    {% if session.role == "guide" %}
                    <form method="POST" action="?controleur=guide&methode=supprimerGuide&id={{ session.user_id }}">
                        {% elseif session.role == "voyageur" %}
                        <form method="POST" action="?controleur=guide&methode=supprimerVoyageur&id={{ session.user_id }}">
                            {% endif %}
                        <input type="hidden" name="action" value="supprimer">
                        <button type="submit" class="btn btn-danger">Confirmer</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}