{% extends "dashboard.html.twig" %}

{% block title %}
  {{ parent() }} - {{ excursion ? "Modification d'excursion" : "Création d'excursion" }}
{% endblock %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="css/formulaire_excursion.css">
{% endblock %}

{% block dashboard_content %}
<main class="container">
  <div id="errorContainer"></div>

  <h1 id="titrePage" class="text-center">
    {{ excursion ? "Modifier les informations de l'excursion :" : "Informations de l'excursion :" }}
  </h1>
  <form enctype="multipart/form-data" id="excursionForm" class="mx-auto p-5" method="post">
    <div id="formDiv">
      <div class="row mb-4">
        <div class="col">
          <label for="nom" class="form-label">Titre :</label>
          <input type="text" id="nom" name="nom" class="form-control" value="{{ excursion.nom | default('') }}" />
        </div>
        <div class="col">
          <label for="capacite" class="form-label">Capacite :</label>
          <input type="number" id="capacite" name="capacite" class="form-control" value="{{ excursion.capacite | default('') }}" />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <label for="itineraire" class="form-label">Itineraire :</label>
          <div class="input-group">
            <select name="itineraire" id="itineraire" class="form-select">
              <option value="" selected disabled>Composez l'itineraire de votre excursion</option>
              <option href="" value="add-new" class="bg-primary text-white">Ajouter une nouvelle visite dans l'itineraire</option>
            </select>
            <button type="button" id="addVisit" class="btn btn-light">Ajouter</button>
          </div>
        </div>
        <div class="col">
          <label for="chemin_image" class="form-label">Image :</label>
          <input type="file" id="chemin_image" name="chemin_image" class="form-control" />
          {% if excursion and excursion.chemin_image %}
            <p class="mt-3 ms-3">Fichier actuel : {{ excursion.chemin_image | split('/') | last }}</p>
          {% endif %}
        </div>
      </div>
      <div class="col">
        <div class="mb-4">
          <h5 id="selectedVisitsTitle" {% if visitesSelectionnees|length > 0 %} class="d-block;" {% else %} class="d-none;"  {% endif %}>Visites sélectionnées :</h5>
          <ul id="selectedVisits" {% if visitesSelectionnees|length > 0 %} class="d-block;" {% else %} class="d-none;" {% endif %}>
            {% for visite in visitesSelectionnees %}
              <li id="visit-{{ visite.visite_id }}" class="mb-2">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <strong>{{ visite.titre }} - {{ visite.ville }}</strong>
                  </div>
                  <div class="d-flex gap-3">
                    <div>
                      <label for="temps_sur_place_{{ visite.visite_id }}" class="form-label mb-0">Temps sur place :</label>
                      <input type="time" id="temps_sur_place_{{ visite.visite_id }}" name="temps_sur_place_{{ visite.visite_id }}" class="form-control form-control-sm" value="{{ visite.temps_sur_place }}" />
                    </div>
                    <button type="button" class="btn btn-danger remove-visit">Supprimer</button>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <label for="description" class="form-label">Description :</label>
          <textarea name="description" id="description" class="form-control" rows="5">{{ excursion.description | default('') }}</textarea>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col d-flex align-items-center">
          <input type="checkbox" name="public" id="public" class="form-check-input me-2" {{ excursion and excursion.public ? 'checked' : '' }} />
          <label for="public" class="form-check-label">Je veux que d’autres guides puissent participer dans cette excursion</label>
        </div>
      </div>
    </div>
    {% if excursion %}
      <div class="d-flex flex-row mt-4 justify-content-center gap-3">
        <div class="text-center">
          <input type="submit" data-excursion-id="{{ excursion.id }}" id="btn_maj" value="Modifier" class="btn" />
        </div>
        <a type="button" id="btn_annuler" class="btn btn-secondary" href="index.php?controleur=excursion&methode=afficher&id={{ excursion.id }}">Annuler</a>
      </div>
    {% else %}
      <div class="text-center mt-4">
        <input id="formBtn" type="submit" value="Créer" class="btn"/>
      </div>
    {% endif %}
  </form>
</main>
{% endblock %}
{% block script %}
  {{ parent() }}
  <script src="js/formulaire_excursion.js"></script>
{% endblock %}
