{% extends "dashboard.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="css/liste_visite.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css">
{% endblock %}

{% block dashboard_content %}
    <div class="container">
        <div class="d-flex flex-rox justify-content-between align-items-center mb-5">
             <h1 class="text-center mb-4">Liste des Visites</h1>
             <a href="index.php?controleur=visite&methode=redirectCreer&isExcursion=0" class="btn btn-success">Créer une nouvelle visite</a>
         </div>

         <!-- Formulaire avec checkbox pour recharger la page -->
        <form id="checkboxForm" method="POST">
            <label for="checkbox">Voir toute les visites :</label>
            <input type="checkbox" id="checkbox" name="checkbox" onclick="rechargePage()"
                {% if etatCheck == true %} checked="checked" {% endif %}>
        </form>
        
        {% if visites is defined and visites is not empty %}
            <table id="tableVisite" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">titre</th>
                    <th scope="col">adresse</th>
                    <th scope="col">ville</th>
                    <th scope="col">code postal</th>
                    <th scope="col">description</th>
                    {% if etatCheck == false %} <th scope="col">action</th> {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for visite in visites %}
                    <tr>
                        <td> {{ visite.titre }} </td>
                        <td> {{ visite.adresse }} </td>
                        <td> {{ visite.ville }} </td>
                        <td> {{ visite.codePostal }} </td>
                        <td> {{ visite.description }}</td>
                        {% if etatCheck == false %} 
                        <td> 
                        <form method="POST" action="index.php?controleur=visite&methode=redirectModifier">
                            <input type="hidden" name="visite_id" value="{{ visite.id }}">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </form>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="alert alert-warning text-center">
                <p>Aucune visite créée.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/datatables.net/js/dataTables.js"></script>
    <script src="./node_modules/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
    <script src="js/liste_visite.js"></script>
{% endblock %}