{% extends "dashboard.html.twig" %}
{% block title %}{{constant('WEBSITE_TITLE')}} Page d'accueil{% endblock %}


{% block dashboard_content %}
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Mes Carnets de voyages :</h1>

{#        <!-- Recherche - PAS ENCORE IMPLEMENTE -->#}
{#        <form class="d-flex mb-4 justify-content-center">#}
{#            <input class="form-control w-50 me-2" type="search" placeholder="Rechercher un carnet..." aria-label="Search">#}
{#            <button class="btn btn-outline-primary" type="submit">#}
{#                <i class="bi bi-search"></i>#}
{#            </button>#}
{#        </form>#}
{#{{ dump(carnets) }}#}

        {% if session.role == "voyageur" %}
            <div class="text-center mb-4">
                <a href="index.php?controleur=carnetVoyage&methode=creer" class="btn btn-primary" title="Créer un carnet de voyage">
                    Créer un carnet de voyage
                </a>
                <a href="index.php?controleur=carnetVoyage&methode=lister" class="btn btn-primary" title="Créer un carnet de voyage">
                    Voir tous les carnets publics
                </a>
            </div>
        {% endif %}

        <!-- Grille des carnets -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for carnet in carnets %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ carnet.chemin_img }}" class="card-img-top" alt="Image du carnet {{ carnet.titre }}">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ carnet.titre }}</h5>
                            <p class="card-text">{{ carnet.description }}</p>
                            <a href="?controleur=post&methode=listerParCarnet&id={{ carnet.id }}" class="btn btn-primary d-block mt-3">Consulter / Modifier</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p class="text-center">Aucun carnet de voyage disponible.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}