{% extends "base_template.html.twig" %}

{% block title %}
    {{ constant('WEBSITE_TITLE') }} - Mon compte
{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Mes informations:</h2>
    <form method="POST" action="/controller_guide/modifierGuide?id={{ guide.id }}" id="form-principal">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    {% if editMode %}
                        <label for="nom-utilisateur" class="form-label"><strong>Nom:</strong></label>
                        <input type="text" name="nom" id="nom-utilisateur" value="{{ guide.nom }}" class="form-control">
                    {% else %}
                        <p><strong>Nom:</strong> <span id="nom-utilisateur">{{ guide.nom }}</span></p>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {% if editMode %}
                        <label for="prenom-utilisateur" class="form-label"><strong>Prénom:</strong></label>
                        <input type="text" name="prenom" id="prenom-utilisateur" value="{{ guide.prenom }}" class="form-control">
                    {% else %}
                        <p><strong>Prénom:</strong> <span id="prenom-utilisateur">{{ guide.prenom }}</span></p>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {% if editMode %}
                        <label for="email-utilisateur" class="form-label"><strong>Mail:</strong></label>
                        <input type="email" name="mail" id="email-utilisateur" value="{{ guide.mail }}" class="form-control">
                    {% else %}
                        <p><strong>Mail:</strong> <span id="email-utilisateur">{{ guide.mail }}</span></p>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {% if editMode %}
                        <label for="telephone-utilisateur" class="form-label"><strong>Numéro de téléphone:</strong></label>
                        <input type="text" name="numero_tel" id="telephone-utilisateur" value="{{ guide.numero_tel }}" class="form-control">
                    {% else %}
                        <p><strong>Numéro de téléphone:</strong> <span id="telephone-utilisateur">{{ guide.numero_tel }}</span></p>
                    {% endif %}
                </div>
				 <div class="mb-3">
				 {% if not editMode %}
                    <label for="certification-utilisateur" class="form-label"><strong>Certification:</strong></label>
                     <a href="{{ guide.chemin_certif }}" target="_blank" class="link-primary">Voir ma certification</a>
           		 </div>
				 {% endif %}
        </div>

        <div class="mt-4 d-flex justify-content-between">
            {% if not editMode %}
                <a href="?editMode=true" class="btn btn-outline-secondary">Modifier</a>
            {% else %}
                <button type="submit" class="btn btn-success" name="action" value="modifier">Enregistrer</button>
                <a href="?editMode=false" class="btn btn-outline-secondary">Annuler</a>
            {% endif %}
            
            <!-- Bouton pour supprimer -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#fenetreModale" class="btn btn-danger">Supprimer mon compte</button>
        </div>
        
        <!-- Modale de confirmation pour la suppression -->
        <div class="modal fade" id="fenetreModale" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1 class="modal-title fs-5">Supprimer mon compte</h1>
                        <p>Voulez-vous confirmer la suppression ? Cela entraînera la suppression de vos excursions actives et commentaires.</p>
                    </div>
                    <div class="modal-footer">
                        <!-- Champ caché pour l'action de suppression -->
                        <input type="hidden" name="action" value="supprimer">
                        <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
