{# session_start(); #}
{% extends "base_template.html.twig" %}
{% block title %}
	{{ constant('WEBSITE_TITLE') }}
	- Mon compte
{% endblock %}
{% block content %}
	<div class="container my-5">
		<h2>Mes informations:</h2>
		{# {{ dump(guide) }} #}
		{# //bloc avec les informations de l'utilisateur connecté #}
		<div class="card">
			<div class="card-body d-flex justify-content-between align-items-center">
				<div>
					<p>
						<strong>Nom:</strong>
						<span id="nom-utilisateur">{{ guide.nom }}</span>
					</p>
					<p>
						<strong>Prénom:</strong>
						<span id="prenom-utilisateur">{{ guide.prenom }}</span>
					</p>
					<p>
						<strong>Mail:</strong>
						<span id="email-utilisateur">{{ guide.mail }}</span>
					</p>
					<p>
						<strong>Numéro de téléphone:</strong>
						<span id="telephone-utilisateur">{{ guide.numero_tel }}</span>
					</p>
				</div>
				<a href="/controller_voyageur/voirCertification?id={{ guide.id }}" class="btn btn-outline-primary" id="lien-certification">Voir ma certification</a>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			{#centrer au centre de ma carte des informations #}
			{# //renvoi sur les pages #}<button class="btn btn-outline-secondary mr-2" onclick="modifierVoyageur()"> Modifier les informations</button>
			<button class="btn btn-outline-danger" onclick="supprimerVoyageur()">Supprimer le compte</button>
			{# //mettre en rouge plutot car c'est un danger #}
		</div>
	</div>
{% endblock %}
