{% extends "base_template.html.twig" %}
{% block title %}{{website.title}} Page d'accueil{% endblock %}

{% block content %}

    <div class="container mt-5">

        <div class="d-flex">
        {# Bouton retour #}
        <a href="index.php?controleur=post&methode=listerParCarnet&id={{ post.idCarnet }}" class="btn btn-rose text-white mt-3 mb-3">Retour aux posts du carnet</a>

        {# Bouton modification #}
        {% if session.role == "voyageur" %}
            <button class="btn btn-success mt-3 mb-3" id="editButton">Modifier le post</button>

            <form method="post" action="index.php?controleur=post&methode=modifier" id="editForm" style="display: none;">
                {# WiP : Fonctionnalité pas encore implémentée #}
                <strong>WIP : fonctionnalité pas encore mise en place</strong>
                <input type="hidden" name="id_post" value="{{ post.id }}">
                <div class="form-group mt-3">
                    <label for="titre">Titre :</label>
                    <input type="text" class="form-control" id="titre" name="titre" value="{{ post.titre }}">
                </div>
                <div class="form-group mt-3">
                    <label for="contenu">Contenu :</label>
                    <textarea class="form-control" id="contenu" name="contenu">{{ post.contenu }}</textarea>
                </div>
                <button type="submit" class="btn btn-success mt-3">Enregistrer les modifications</button>
            </form>
        {% endif %}
        </div>

        <div class="mb-3 p-3 shadow-sm border border-primary rounded">
            <div class="bg-primary text-white text-center py-2" style="border-radius: 10px;">
                <h2>{{ post.titre }}</h2>
            </div>

            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#excursionsModal">
                    Voir les excursions comprenant cette visite
                </button>
            </div>
            
            <img src="{{ post.chemin_img }}" class="img-fluid mt-3 d-block mx-auto rounded" alt="Image de la visite associée">
            <div class="mt-3">
                <p>{{ post.contenu }}</p>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="excursionsModal" tabindex="-1" aria-labelledby="excursionsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="excursionsModalLabel">Excursions pour {{ post.titre_visite }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for excursion in excursions %}
                                <li>
                                    <a href="?controleur=excursion&methode=afficher&id={{ excursion.id }}" class="text-decoration-none text-primary">{{ excursion.nom }}</a>
                                </li>
                            {% endfor %}
                            {% if excursions|length == 0 %}
                                <li>Aucune excursion n'inclut cette visite pour le moment.</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="mb-3 p-3 shadow-sm border border-primary rounded">
            <div class="bg-rose text-white text-center py-2 card-header rounded">
                <h5>Commentaires</h5>
            </div>
            <div class="mt-3">

                {% if erreursCommentaire|default %}
                    {% for erreur in erreursCommentaire %}
                        <div class="alert alert-danger" role="alert">
                            {{ erreur }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if session.role == "visiteur" %}
                    <div class="alert alert-danger" role="alert">
                        Veuillez vous connecter pour commenter ce post
                    </div>
                {% endif %}

                {% if session.role == "voyageur" %}
                    <div class="mb-2 p-3 shadow-sm border border-primary rounded">
                        <div>
                            <h6>{{ session.id }}</h6>
                            <form method="post">
                                <textarea name="contenu" max="2000" class="form-control mb-2" placeholder="Ecrivez votre commentaire ici" rows="5">{{ donneesCommentaire.contenu }}</textarea>
                                <input type="hidden" value="{{ post.id }}" name="id_post"/>
                                <input type="submit" class="btn btn-primary" value="Publier" formaction="?controleur=commentaire&methode=ajouter">
                            </form>
                        </div>
                    </div>
                {% endif %}

                {% for commentaire in commentaires %}
                    <div class="mb-2 p-3 shadow-sm border border-primary rounded">
                        <div>
                            <h6><i data-feather="user" color="#803D5C"></i>{{ commentaire.prenom }} {{ commentaire.nom }}</h6>
                            <p class="text-muted">{{ commentaire.date_heure_publication }}</p>
                            <p>{{ commentaire.contenu }}</p>

                            {% if commentaire.id_voyageur == session.user_id %}
                                <form method="post">
                                    <input type="hidden" value="{{ post.id }}" name="id_post" />
                                    <input type="hidden" value="{{ commentaire.id }}" name="id_commentaire" />
                                    <input type="submit" class="btn btn-danger" value="Supprimer" formaction="?controleur=commentaire&methode=supprimer&id={{ commentaire.id }}">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
{# WiP : Modifier les posts #}
<script>
    editButton = document.getElementById('editButton');
    editForm = document.getElementById('editForm');

    editButton.addEventListener('click', () => {
        editForm.style.display = editForm.style.display === 'none' ? 'block' : 'none';
    });
</script>
{% endblock %}